body {
    background-color: #00040f;
    font-family: 'Montserrat', sans-serif;


}

#img-robot{
    width: 669px;
    height: 444px;
}

#next-g{
    font-family: 'Poppins', sans-serif;
    line-height: 100.8px;
    font-weight: 600;
    letter-spacing: 1%;
    line-height: 140%;
}

#our-team{
    font-family: 'Poppins', sans-serif;
    line-height: 30.6px;
    font-weight: 400;
}

.gradient {

    /* Set the background of
    the text  */
    background:
    
        linear-gradient(to right,
            #33dce2,
            #dcdee9);
    display: inline-block;

    /* Clip the background upto
    the text  */
    -webkit-background-clip: text;
    background-clip: text;

    /* Set the color of the text
    to transparent  */
    color: transparent;
}

